@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('./assets/node_modules/expo/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/MaterialCommunityIcons.6e435534bd35da5fef04168860a9b8fa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
