/* Expo Vector Icons Web Fonts */
@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('./node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
